/* Estilos generales */
body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.button-clikeame {
    padding: 10px;
    background-color: blue;
    color: hsl(127, 95%, 57%);
    border: none;
    cursor: pointer;
}
.button-clickeame {
    background-color: blue;

}

.test {
    background-color: green;
}

.button-clikeame:hover {
    background-color: #0d00ff;
}